<!-- <div class="text-summary">
    <h3>Financial Summary</h3>
    <div *ngFor="let data of textSumamry" class="summary-item">
        <p><strong>Summary:</strong> {{ data.summary }}</p>
        <hr>
      </div>
  </div> -->

  <div class="text-summary-container text-summary">
  
    <!-- Scripts in Action Section -->
    <div class="scripts-section">
      <h4>Scripts in Action</h4>
      <div class="scripts-grid">
        <div class="script-item">BAJAJ AUTO</div>
        <div class="script-item">ICICI BANK</div>
        <div class="script-item">HERO MOTO</div>
        <div class="script-item">PG ELECTRO</div>
        <!-- Add more script items as needed -->
      </div>
    </div>
  </div>
  