<!-- <div class="text-summary">
    <h3>Financial Summary</h3>
    <div *ngFor="let data of textSumamry" class="summary-item">
        <p><strong>Summary:</strong> {{ data.summary }}</p>
        <hr>
      </div>
  </div> -->

  <div class="sentiment-analysis-output">
    <h4 class="section-title">Scripts in Action</h4>
    <div class="sentiment-grid">
      <!-- Positive Sentiment Column -->
      <div class="positive-column">
        <div class="sentiment-item positive">
          <i class="icon thumbs-up"></i>
          <h5>BAJAJ AUTO</h5>
          <p>'Repriced Only Base Variant Of Freedom Bike. No Change In Top-end Variant's Price'</p>
        </div>
        <div class="sentiment-item positive">
          <i class="icon thumbs-up"></i>
          <h5>HERO MOTO</h5>
          <p>Launches Electric Scooter Vida V2 Starting At Sub-Rs 1 Lakh</p>
        </div>
        <div class="sentiment-item positive">
          <i class="icon thumbs-up"></i>
          <h5>IGL</h5>
          <p>To Consider Its 1st Bonus Issue On December 10</p>
        </div>
      </div>
  
      <!-- Negative Sentiment Column -->
      <div class="negative-column">
        <div class="sentiment-item negative">
          <i class="icon thumbs-down"></i>
          <h5>ICICI BANK</h5>
          <p>Maharashtra GST Authorities Initiated Search At Three Offices Of Bank</p>
        </div>
        <div class="sentiment-item negative">
          <i class="icon thumbs-down"></i>
          <h5>PG ELECTRO</h5>
          <p>₹1,500 Cr QIP Opens, Indicative Issue Price ₹690/share</p>
        </div>
      </div>
    </div>
  </div>
  