<div class="chat-container">
  <h3>Financial Insights</h3>
  <div class="news-container">
    <div *ngIf="aiResponse && aiResponse.length > 0">
      <div *ngFor="let article of aiResponse" class="news">
        <app-news-item
          [title]="article.title"
          [description]="article.description"
          [url]="article.utl"
          [imageUrl]="article.urlToImage"
          [publishedAt]="article.publishedAt">
        </app-news-item>
      </div>
    </div>
  </div>

<div class="input-area">
    <textarea
      [(ngModel)]="userInput"
      placeholder="Enter the news topic"
      (keydown.enter)="getAiResponse()"
      (keydown.enter)="resetTextArea()"
      rows="2"
      class="input-textarea"></textarea>
  </div>
</div>
