<div class="container">
  <app-header></app-header>
  
  <div class="main-layout">
    <app-left-sidebar class="col-1 left-sidebar"></app-left-sidebar>
    <div class="content-body container">
      <div class="row col-11">
        <!-- <app-home></app-home> -->
        <app-sentiment-analysis class="col-4"></app-sentiment-analysis>
        <app-text-summary class="col-4"></app-text-summary>
        <app-chat class="col-4"></app-chat>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row col-11">
        <app-home></app-home>
      </div> -->
<!-- 
      <div class="content-body container">
        <router-outlet></router-outlet>
      </div> -->