<ul>
  <li><a href="#" class="menu-item"><i class="fas fa-home"></i><span class="menu-text">Home</span></a></li>
  <li><a href="/team" class="menu-item"><i class="fas fa-users"></i><span class="menu-text">Team</span></a></li>
  <li><a href="#" class="menu-item"><i class="fas fa-file-alt"></i><span class="menu-text">Presentation</span></a></li>
  <li><a href="#" class="menu-item"><i class="fas fa-tasks"></i><span class="menu-text">Challenge</span></a></li>
  <li><a href="#" class="menu-item"><i class="fas fa-check-circle"></i><span class="menu-text">Solution</span></a></li>
  <li><a href="#" class="menu-item"><i class="fas fa-users-cog"></i><span class="menu-text">Collaboration</span></a></li>
</ul>
<!-- 
<ul>
  <li><a routerLink="/home" class="menu-item"><i class="fas fa-home"></i><span class="menu-text">Home</span></a></li>
  <li><a routerLink="/team" class="menu-item"><i class="fas fa-users"></i><span class="menu-text">Team</span></a></li>
  <li><a routerLink="/presentation" class="menu-item"><i class="fas fa-file-alt"></i><span class="menu-text">Presentation</span></a></li>
  <li><a routerLink="/challenge" class="menu-item"><i class="fas fa-tasks"></i><span class="menu-text">Challenge</span></a></li>
  <li><a routerLink="/solution" class="menu-item"><i class="fas fa-check-circle"></i><span class="menu-text">Solution</span></a></li>
  <li><a routerLink="/collaboration" class="menu-item"><i class="fas fa-users-cog"></i><span class="menu-text">Collaboration</span></a></li>
</ul> -->

