/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

a {
    text-decoration: none;
}

.col-1 {
    width: 8.3;
}

.col-2 {
    width: 16.67%;
    /* 2/12 of the width */
}

.col-3 {
    width: 25%;
    /* 3/12 of the width */
}

.col-4 {
    width: 33.33%;
    /* 4/12 of the width */
}

.col-5 {
    width: 41.6%;
}

.col-6{
    width: 50%;
}

h3{
    margin: 10px 0;
}

